DEV/weixin_resources/member_id_card/awardgold.zip
DEV/weixin_resources/member_id_card/qrpay_minus.zip
DEV/weixin_resources/member_id_card/卡券品牌物料--会员卡二维码台卡.zip
DEV/weixin_resources/member_id_card/卡券品牌物料--会员卡二维码台卡/会员卡二维码台卡/A.使用规范－台卡／贴纸.png
DEV/weixin_resources/member_id_card/卡券品牌物料--会员卡二维码台卡/会员卡二维码台卡/台卡（Ai源文件）.ai
DEV/weixin_resources/member_id_card/卡券品牌物料--会员卡二维码台卡/会员卡二维码台卡/台卡（预览）.png
DEV/weixin_resources/member_id_card/卡券品牌物料--会员卡二维码台卡/会员卡二维码台卡/字体（编辑物料前先安装字体）/HYQiHei-55S.otf
DEV/weixin_resources/member_id_card/卡券品牌物料--会员卡二维码台卡/会员卡二维码台卡/字体（编辑物料前先安装字体）/HYQiHei-80W.otf
DEV/weixin_resources/member_id_card/卡券品牌物料--会员卡贴纸.zip
DEV/weixin_resources/member_id_card/卡券品牌物料--会员卡贴纸/会员卡贴纸/A.使用规范－台卡／贴纸.png
DEV/weixin_resources/member_id_card/卡券品牌物料--会员卡贴纸/会员卡贴纸/贴纸-无商家logo（Ai源文件）.ai
DEV/weixin_resources/member_id_card/卡券品牌物料--会员卡贴纸/会员卡贴纸/贴纸-无商家logo（预览）.png
DEV/weixin_resources/member_id_card/卡券品牌物料--会员卡贴纸/会员卡贴纸/贴纸－带商家logo（Ai源文件）.ai
DEV/weixin_resources/member_id_card/卡券品牌物料--会员卡贴纸/会员卡贴纸/贴纸－带商家logo（预览）.png
DEV/weixin_resources/member_id_card/卡券品牌物料--卡券品牌LOGO.zip
DEV/weixin_resources/member_id_card/卡券品牌物料--卡券品牌LOGO/微信卡包logo/.DS_Store
DEV/weixin_resources/member_id_card/卡券品牌物料--卡券品牌LOGO/微信卡包logo/微信卡包LogoAI文件.ai
DEV/weixin_resources/member_id_card/卡券品牌物料--卡券品牌LOGO/微信卡包logo/微信卡包Logo预览/.DS_Store
DEV/weixin_resources/member_id_card/卡券品牌物料--卡券品牌LOGO/微信卡包logo/微信卡包Logo预览/微信卡包LogoAI文件-01.png
DEV/weixin_resources/member_id_card/卡券品牌物料--卡券品牌LOGO/微信卡包logo/微信卡包Logo预览/微信卡包LogoAI文件-02.png
DEV/weixin_resources/member_id_card/卡券品牌物料--卡券品牌LOGO/微信卡包logo/微信卡包Logo预览/微信卡包LogoAI文件-03.png
DEV/weixin_resources/member_id_card/卡券品牌物料--卡券品牌LOGO/微信卡包logo/微信卡包Logo预览/微信卡包Logo－全彩.png
DEV/weixin_resources/member_id_card/卡券品牌物料--卡券品牌LOGO/微信卡包logo/微信卡包Logo预览/微信卡包Logo－反灰.png
DEV/weixin_resources/member_id_card/卡券品牌物料--卡券品牌LOGO/微信卡包logo/微信卡包Logo预览/微信卡包Logo－反白.png
DEV/weixin_resources/member_id_card/卡券品牌物料--卡券品牌LOGO/微信卡包logo/微信卡包Logo预览/微信卡包Logo－反黑.png
DEV/weixin_resources/member_id_card/卡券品牌物料--卡券品牌LOGO/微信卡包logo/微信卡包Logo预览/微信卡包Logo－竖版全彩.png
DEV/weixin_resources/member_id_card/卡券品牌物料--卡券品牌LOGO/微信卡包logo/微信卡包Logo预览/微信卡包Logo－竖版反灰.png
DEV/weixin_resources/member_id_card/卡券海报模板-X展架(1).zip
DEV/weixin_resources/member_id_card/卡券海报模板-X展架(1)/微信卡券-X展架海报模版/01. 字体（编辑物料前先安装字体）/HYQiHei-55S.otf
DEV/weixin_resources/member_id_card/卡券海报模板-X展架(1)/微信卡券-X展架海报模版/01. 字体（编辑物料前先安装字体）/HYQiHei-80W.otf
DEV/weixin_resources/member_id_card/卡券海报模板-X展架(1)/微信卡券-X展架海报模版/02. 素材图库/107428671.jpg
DEV/weixin_resources/member_id_card/卡券海报模板-X展架(1)/微信卡券-X展架海报模版/02. 素材图库/155392086.jpg
DEV/weixin_resources/member_id_card/卡券海报模板-X展架(1)/微信卡券-X展架海报模版/02. 素材图库/57575899.jpg
DEV/weixin_resources/member_id_card/卡券海报模板-X展架(1)/微信卡券-X展架海报模版/02. 素材图库/91177714.jpg
DEV/weixin_resources/member_id_card/卡券海报模板-X展架(1)/微信卡券-X展架海报模版/02. 素材图库/gic13920542.jpg
DEV/weixin_resources/member_id_card/卡券海报模板-X展架(1)/微信卡券-X展架海报模版/02. 素材图库/gic17196529().jpg
DEV/weixin_resources/member_id_card/卡券海报模板-X展架(1)/微信卡券-X展架海报模版/02. 素材图库/gic17196529.jpg
DEV/weixin_resources/member_id_card/卡券海报模板-X展架(1)/微信卡券-X展架海报模版/02. 素材图库/gic18617696.jpg
DEV/weixin_resources/member_id_card/卡券海报模板-X展架(1)/微信卡券-X展架海报模版/02. 素材图库/gic6354007.jpg
DEV/weixin_resources/member_id_card/卡券海报模板-X展架(1)/微信卡券-X展架海报模版/带二维码-主副标题版/.DS_Store
DEV/weixin_resources/member_id_card/卡券海报模板-X展架(1)/微信卡券-X展架海报模版/带二维码-主副标题版/X展架带二维码主副标题版-使用规范.jpg
DEV/weixin_resources/member_id_card/卡券海报模板-X展架(1)/微信卡券-X展架海报模版/带二维码-主副标题版/X展架带二维码主副标题版-示意图.jpg
DEV/weixin_resources/member_id_card/卡券海报模板-X展架(1)/微信卡券-X展架海报模版/带二维码-主副标题版/X展架带二维码主副标题版.ai
DEV/weixin_resources/member_id_card/卡券海报模板-X展架(1)/微信卡券-X展架海报模版/带二维码-主标题版/X展架带二维码主标题版-使用规范.jpg
DEV/weixin_resources/member_id_card/卡券海报模板-X展架(1)/微信卡券-X展架海报模版/带二维码-主标题版/X展架带二维码主标题版-示意图.jpg
DEV/weixin_resources/member_id_card/卡券海报模板-X展架(1)/微信卡券-X展架海报模版/带二维码-主标题版/X展架带二维码主标题版.ai
DEV/weixin_resources/member_id_card/卡券海报模板-X展架(1)/微信卡券-X展架海报模版/微信卡包排版规范（必读）.pdf
DEV/weixin_resources/member_id_card/卡券海报模板-X展架(1)/微信卡券-X展架海报模版/无二维码-主副标题版/X展架无二维码主副标题版-使用规范.jpg
DEV/weixin_resources/member_id_card/卡券海报模板-X展架(1)/微信卡券-X展架海报模版/无二维码-主副标题版/X展架无二维码主副标题版-示意图.jpg
DEV/weixin_resources/member_id_card/卡券海报模板-X展架(1)/微信卡券-X展架海报模版/无二维码-主副标题版/X展架无二维码主副标题版.ai
DEV/weixin_resources/member_id_card/卡券海报模板-X展架(1)/微信卡券-X展架海报模版/无二维码-主标题版/X展架无二维码主标题版-使用规范.jpg
DEV/weixin_resources/member_id_card/卡券海报模板-X展架(1)/微信卡券-X展架海报模版/无二维码-主标题版/X展架无二维码主标题版-示意图.jpg
DEV/weixin_resources/member_id_card/卡券海报模板-X展架(1)/微信卡券-X展架海报模版/无二维码-主标题版/X展架无二维码主标题版.ai
DEV/weixin_resources/member_id_card/卡券海报模板-X展架.zip
DEV/weixin_resources/member_id_card/卡券海报模板-X展架/微信卡券-X展架海报模版/01. 字体（编辑物料前先安装字体）/HYQiHei-55S.otf
DEV/weixin_resources/member_id_card/卡券海报模板-X展架/微信卡券-X展架海报模版/01. 字体（编辑物料前先安装字体）/HYQiHei-80W.otf
DEV/weixin_resources/member_id_card/卡券海报模板-X展架/微信卡券-X展架海报模版/02. 素材图库/107428671.jpg
DEV/weixin_resources/member_id_card/卡券海报模板-X展架/微信卡券-X展架海报模版/02. 素材图库/155392086.jpg
DEV/weixin_resources/member_id_card/卡券海报模板-X展架/微信卡券-X展架海报模版/02. 素材图库/57575899.jpg
DEV/weixin_resources/member_id_card/卡券海报模板-X展架/微信卡券-X展架海报模版/02. 素材图库/91177714.jpg
DEV/weixin_resources/member_id_card/卡券海报模板-X展架/微信卡券-X展架海报模版/02. 素材图库/gic13920542.jpg
DEV/weixin_resources/member_id_card/卡券海报模板-X展架/微信卡券-X展架海报模版/02. 素材图库/gic17196529().jpg
DEV/weixin_resources/member_id_card/卡券海报模板-X展架/微信卡券-X展架海报模版/02. 素材图库/gic17196529.jpg
DEV/weixin_resources/member_id_card/卡券海报模板-X展架/微信卡券-X展架海报模版/02. 素材图库/gic18617696.jpg
DEV/weixin_resources/member_id_card/卡券海报模板-X展架/微信卡券-X展架海报模版/02. 素材图库/gic6354007.jpg
DEV/weixin_resources/member_id_card/卡券海报模板-X展架/微信卡券-X展架海报模版/带二维码-主副标题版/.DS_Store
DEV/weixin_resources/member_id_card/卡券海报模板-X展架/微信卡券-X展架海报模版/带二维码-主副标题版/X展架带二维码主副标题版-使用规范.jpg
DEV/weixin_resources/member_id_card/卡券海报模板-X展架/微信卡券-X展架海报模版/带二维码-主副标题版/X展架带二维码主副标题版-示意图.jpg
DEV/weixin_resources/member_id_card/卡券海报模板-X展架/微信卡券-X展架海报模版/带二维码-主副标题版/X展架带二维码主副标题版.ai
DEV/weixin_resources/member_id_card/卡券海报模板-X展架/微信卡券-X展架海报模版/带二维码-主标题版/X展架带二维码主标题版-使用规范.jpg
DEV/weixin_resources/member_id_card/卡券海报模板-X展架/微信卡券-X展架海报模版/带二维码-主标题版/X展架带二维码主标题版-示意图.jpg
DEV/weixin_resources/member_id_card/卡券海报模板-X展架/微信卡券-X展架海报模版/带二维码-主标题版/X展架带二维码主标题版.ai
DEV/weixin_resources/member_id_card/卡券海报模板-X展架/微信卡券-X展架海报模版/微信卡包排版规范（必读）.pdf
DEV/weixin_resources/member_id_card/卡券海报模板-X展架/微信卡券-X展架海报模版/无二维码-主副标题版/X展架无二维码主副标题版-使用规范.jpg
DEV/weixin_resources/member_id_card/卡券海报模板-X展架/微信卡券-X展架海报模版/无二维码-主副标题版/X展架无二维码主副标题版-示意图.jpg
DEV/weixin_resources/member_id_card/卡券海报模板-X展架/微信卡券-X展架海报模版/无二维码-主副标题版/X展架无二维码主副标题版.ai
DEV/weixin_resources/member_id_card/卡券海报模板-X展架/微信卡券-X展架海报模版/无二维码-主标题版/X展架无二维码主标题版-使用规范.jpg
DEV/weixin_resources/member_id_card/卡券海报模板-X展架/微信卡券-X展架海报模版/无二维码-主标题版/X展架无二维码主标题版-示意图.jpg
DEV/weixin_resources/member_id_card/卡券海报模板-X展架/微信卡券-X展架海报模版/无二维码-主标题版/X展架无二维码主标题版.ai
DEV/weixin_resources/member_id_card/卡券海报模板-标准竖版.zip
DEV/weixin_resources/member_id_card/卡券海报模板-标准竖版/立减优惠素材v1.0/01素材使用字体/HYQiHei-50S.otf
DEV/weixin_resources/member_id_card/卡券海报模板-标准竖版/立减优惠素材v1.0/01素材使用字体/HYQiHei-55S.otf
DEV/weixin_resources/member_id_card/卡券海报模板-标准竖版/立减优惠素材v1.0/01素材使用字体/HYQiHei-75W.otf
DEV/weixin_resources/member_id_card/卡券海报模板-标准竖版/立减优惠素材v1.0/01素材使用字体/HYQiHei-80W.otf
DEV/weixin_resources/member_id_card/卡券海报模板-标准竖版/立减优惠素材v1.0/02通用立减模版/满立减通用.ai
DEV/weixin_resources/member_id_card/卡券海报模板-标准竖版/立减优惠素材v1.0/02通用立减模版/满立减通用.jpg
DEV/weixin_resources/member_id_card/卡券海报模板-标准竖版/立减优惠素材v1.0/02通用立减模版/随机立减通用.ai
DEV/weixin_resources/member_id_card/卡券海报模板-标准竖版/立减优惠素材v1.0/02通用立减模版/随机立减通用.jpg
DEV/weixin_resources/member_id_card/卡券海报模板-标准竖版/立减优惠素材v1.0/03餐饮立减模版/满立减餐饮.ai
DEV/weixin_resources/member_id_card/卡券海报模板-标准竖版/立减优惠素材v1.0/03餐饮立减模版/满立减餐饮.jpg
DEV/weixin_resources/member_id_card/卡券海报模板-标准竖版/立减优惠素材v1.0/03餐饮立减模版/随机立减餐饮.ai
DEV/weixin_resources/member_id_card/卡券海报模板-标准竖版/立减优惠素材v1.0/03餐饮立减模版/随机立减餐饮.jpg
DEV/weixin_resources/member_id_card/卡券海报模板-标准竖版/立减优惠素材v1.0/04商超立减模版/.DS_Store
DEV/weixin_resources/member_id_card/卡券海报模板-标准竖版/立减优惠素材v1.0/04商超立减模版/满立减商超.ai
DEV/weixin_resources/member_id_card/卡券海报模板-标准竖版/立减优惠素材v1.0/04商超立减模版/满立减商超.jpg
DEV/weixin_resources/member_id_card/卡券海报模板-标准竖版/立减优惠素材v1.0/04商超立减模版/随机立减商超.ai
DEV/weixin_resources/member_id_card/卡券海报模板-标准竖版/立减优惠素材v1.0/04商超立减模版/随机立减商超.jpg
DEV/weixin_resources/member_id_card/卡券海报模板-标准竖版/立减优惠素材v1.0/05辅助物料/名额用完提示.ai
DEV/weixin_resources/member_id_card/卡券海报模板-标准竖版/立减优惠素材v1.0/05辅助物料/名额用完提示.jpg
DEV/weixin_resources/member_id_card/卡券海报模板-标准竖版/立减优惠素材v1.0/05辅助物料/系统异常提示.ai
DEV/weixin_resources/member_id_card/卡券海报模板-标准竖版/立减优惠素材v1.0/05辅助物料/系统异常提示.jpg
DEV/weixin_resources/member_id_card/国庆领券乐!!_代金券_2016-09-26.jpg
DEV/weixin_resources/member_id_card/快速买单.zip
DEV/weixin_resources/member_id_card/快速买单/快速买单.png
DEV/weixin_resources/member_id_card/快速买单/快速买单（规范）.png
DEV/weixin_resources/member_id_card/手动增减积分.zip
DEV/weixin_resources/member_id_card/手动增减积分/手动增减积分.png
DEV/weixin_resources/member_id_card/手动增减积分/手动增减积分（规范）.png
DEV/weixin_resources/member_id_card/核销：快速买单.zip
DEV/weixin_resources/member_id_card/核销：快速买单/核销：快速买单.png
DEV/weixin_resources/member_id_card/核销：快速买单/核销：快速买单（规范）.png
DEV/weixin_resources/member_id_card/核销：扫码_输码.zip
DEV/weixin_resources/member_id_card/核销：扫码_输码/核销：扫码／输码/核销：扫码／输码.png
DEV/weixin_resources/member_id_card/核销：扫码_输码/核销：扫码／输码/核销：扫码／输码（规范）.png
DEV/weixin_resources/member_id_card/核销：自助核销.zip
DEV/weixin_resources/member_id_card/核销：自助核销/核销：自助核销.png
DEV/weixin_resources/member_id_card/核销：自助核销/核销：自助核销（规范）.png
DEV/weixin_resources/member_id_card/被扫付款.zip
DEV/weixin_resources/member_id_card/被扫付款/被扫付款.png
DEV/weixin_resources/member_id_card/被扫付款/被扫付款（规范）.png
DEV/weixin_resources/member_id_card/领取会员卡.zip
DEV/weixin_resources/member_id_card/领取会员卡/领取会员卡.png
DEV/weixin_resources/member_id_card/领取会员卡/领取会员卡（规范）.png
DEV/weixin_resources/member_id_card/领取：普通券.zip
DEV/weixin_resources/member_id_card/领取：普通券/__MACOSX/._领取：普通券.png
DEV/weixin_resources/member_id_card/领取：普通券/__MACOSX/._领取：普通券（规范）.png
DEV/weixin_resources/member_id_card/领取：普通券/领取：普通券.png
DEV/weixin_resources/member_id_card/领取：普通券/领取：普通券（规范）.png
DEV/weixin_resources/member_id_card/领取：朋友的券.zip
DEV/weixin_resources/member_id_card/领取：朋友的券/领取：朋友的券.png
DEV/weixin_resources/member_id_card/领取：朋友的券/领取：朋友的券（规范）.png
